#container {
    width: 901px;
    margin: auto;
    text-align: center;
    /* Double clicking canvas highlights heading otherwise */
    user-select: none;
}

#container div.second-line {
    width: 50%;
    display: flex;
    margin: 8px auto;
    justify-content: space-evenly;
}

body {
    color: #333333;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

#patterns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.pattern-gif {
    cursor: pointer;
}